body, html {
    height: 100%;
    margin: 0;
  }


.bg {
  /* IMG de fondo */
  background-image: url("https://raw.githubusercontent.com/renatopuente/TATOO/main/assets/fondo.jpg?token=GHSAT0AAAAAACLCHFDVD6WWUNJHTVMNXXHYZLKV3BA");

  /* Full height */
  height: 100%; 

  /* Centrar img */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

